/* .FormLogin {
    width: 50%;
    text-align: left;
    margin-left: 25%;
}
.FormLogin button{    
    position: absolute;
    left: 70%;
    width: 100%;
}
.FormLogin a{    
    text-decoration: none;
    color: black;
} */
.btn.btn-primary.btn-block{
    margin-top: 5%;
    width: 100%;
}